.idea/
.vscode/
/src/tauso.egg-info/
./data/
./src/data/
*.Identifier
/notebooks/competitors/pfred_temp_io/
out/*

__pycache__/
*.pyc
.ipynb_checkpoints/

notebooks/external
/src/tauso/out/
/build/

*aso_inhibitions_with_canonical_gene.csv
*aso_inhibitions_with_canonical_gene.csv.gz
*aso_inhibitions_with_canonical_gene_indexed.csv
*aso_inhibitions_with_canonical_gene_indexed.csv.gz

bulk_input_*