[submodule "external/risearch"]
	path = external/risearch
	url = https://github.com/RedPenguin100/risearch.git
[submodule "notebooks/competitors/OligoAI/OligoAI"]
	path = notebooks/competitors/OligoAI/OligoAI
	url = https://github.com/RedPenguin100/OligoAI
