.idea/
/src/tauso.egg-info/
./data/
./src/data/
*.Identifier
__pycache__/
*.pyc
.ipynb_checkpoints/

# Local-only large dataset
notebooks/features/RBP/OmicsExpressionProteinCodingGenesTPMLogp1.csv

# Local-only large dataset
notebooks/features/RBP/OmicsExpressionProteinCodingGenesTPMLogp1.csv
