name: Build and Test Python

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -el {0}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: true
#      - name: Run Make
#        run: make
#        working-directory: external/risearch/RIsearch1
      - name: Set up Miniconda
        uses: mamba-org/setup-micromamba@v1
        with:
          environment-file: environment.yml
          environment-name: tauso
          cache-env: true           # <— THIS enables caching
          cache-downloads: true     # <— Also caches pkgs

      - name: Install tauso
        run: micromamba run -n tauso pip install -e .
      - name: Run tests
        run: micromamba run -n tauso pytest -vvvs